@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/base\/_lists\.scss}line{font-family:\000032}}
ul li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_footer\.scss}line{font-family:\000031}}
.l-footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_header\.scss}line{font-family:\000031}}
.l-principal {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_header\.scss}line{font-family:\000034}}
.l-om-branding {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 20rem;
  margin: 2rem auto;
  top: 2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\000031}}
.l-main {
  margin-left: 0;
  margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\000034}}
  .l-main .l-nav {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\000037}}
  .l-main .l-slider {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\0000310}}
  .l-main .l-region--destacado {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\0000313}}
  .l-main .l-region--breadcrumb {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\0000316}}
  .l-main .l-content {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\0000337}}
  .l-main .l-sidebar-first {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000333}}
.l-principal {
  width: 95%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: powderblue;
  position: absolute;
  vertical-align: middle;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000346}}
.l-region--navigation .active {
  background: none repeat scroll 0 0 #A1BEF4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000354}}
.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
  background: none repeat scroll 0 0 #FFA500;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0 8px 9px 0 !important;
  top: 1.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000365}}
.sf-menu {
  text-decoration: none;
  line-height: 1.5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000369}}
  .sf-menu .sf-depth-1 {
    text-align: center;
    text-decoration: none;
    font-family: Amaranth; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000375}}
  .sf-menu .sf-depth-2 {
    list-style: none outside none;
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000384}}
  .sf-menu a:active, .sf-menu a:hover {
    background-color: #F9947F;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000399}}
.l-region.l-region--branding {
  height: 8rem;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003104}}
.l-om-branding {
  background-color: #13245;
  height: 20rem;
  margin: 2rem auto;
  top: 3rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003109}}
  .l-om-branding .site-logo {
    height: auto;
    width: 6rem;
    max-width: 30%;
    margin: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003115}}
    .l-om-branding .site-logo img {
      height: auto;
      max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003120}}
  .l-om-branding .bloque-sitio-nombre-slogan {
    font-family: Amaranth;
    color: #000000;
    margin: 0 auto;
    position: relative;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003127}}
    .l-om-branding .bloque-sitio-nombre-slogan #logo-sitename a {
      text-decoration: none;
      color: black;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003131}}
      .l-om-branding .bloque-sitio-nombre-slogan #logo-sitename a:hover {
        color: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003136}}
    .l-om-branding .bloque-sitio-nombre-slogan #nombre-sitio {
      color: #000000;
      position: relative;
      text-transform: uppercase;
      font-size: 3rem;
      margin-bottom: 0;
      margin-top: 0rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003143}}
      .l-om-branding .bloque-sitio-nombre-slogan #nombre-sitio a {
        text-decoration: none;
        color: black;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003147}}
        .l-om-branding .bloque-sitio-nombre-slogan #nombre-sitio a:hover {
          color: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003154}}
    .l-om-branding .bloque-sitio-nombre-slogan #slogan {
      font-size: 1.5rem;
      margin-top: 0rem;
      position: relative;
      text-transform: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003159}}
      .l-om-branding .bloque-sitio-nombre-slogan #slogan a {
        text-decoration: none;
        color: black;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003163}}
        .l-om-branding .bloque-sitio-nombre-slogan #slogan a:hover {
          color: blue; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003171}}
.flexslider_views_slideshow_main.views_slideshow_main.flexslider_views_slideshow-processed {
  z-index: -1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003178}}
.breadcrumb {
  display: inline-flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003180}}
  .breadcrumb li {
    display: block;
    margin: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003186}}
.grupo-clase-contenido {
  background: none repeat scroll 0 0 rgba(255, 178, 27, 0.99);
  display: inline-flex;
  font-family: Liberation Sans;
  height: 3.7rem;
  position: relative;
  top: 12px;
  width: 100%;
  border-radius: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003196}}
  .grupo-clase-contenido .clase-contenido {
    color: #0000FF;
    font-style: italic;
    width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003202}}
  .grupo-clase-contenido .clase-contenido > p {
    margin-left: 3px;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003207}}
  .grupo-clase-contenido .pleca-clase-contenido {
    color: #367141;
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    width: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003217}}
  .grupo-clase-contenido .tema-contenido {
    color: #385240;
    width: 60%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003220}}
    .grupo-clase-contenido .tema-contenido ul {
      list-style: none;
      margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003223}}
      .grupo-clase-contenido .tema-contenido ul .shs-hierarchy {
        margin-bottom: 0;
        margin-top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003234}}
.shs-parent {
  background: none repeat scroll 0 0 #1430FF;
  color: #FFFFFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003238}}
.shs-term-selected {
  background: none repeat scroll 0 0 #AFEEEE; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003244}}
.l-main.l-constrained {
  position: relative;
  top: 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003250}}
.teaser-ultimos-articulos {
  vertical-align: sub;
  width: 30%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003258}}
.teaser-front {
  text-align: justify;
  height: 10rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003264}}
.titulo-teaser {
  height: 6rem;
  background: url("../images/tit_teaser.svg") repeat-x scroll 0 0/contain rgba(0, 0, 0, 0);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-family: Amaranth;
  font-size: 1.05rem;
  color: #000000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003272}}
  .titulo-teaser a {
    text-decoration: none;
    color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003277}}
.fila-ultimos-articulos {
  height: 30rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003281}}
.field-content.imagen-front {
  border: 10rem none;
  bottom: 1rem;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
  top: 1rem; }

@media all and (max-width: 649px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003300}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003307}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .titulo-teaser {
      font-size: 1.1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003313}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .ultimos-articulos {
      float: left;
      margin-left: 0;
      margin-right: 5%;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003322}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .clase-contenido {
      color: #0000FF;
      font-size: 3rem;
      font-style: italic;
      padding-left: 1rem;
      width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003330}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .pleca-clase-contenido {
      color: #008000;
      font-size: 3rem;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      text-align: center;
      top: -4px;
      width: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003343}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul {
      font-size: 1.5rem;
      left: 0rem;
      list-style: none outside none;
      position: relative;
      text-align: center;
      margin: 3px 0 0;
      padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003355}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul li .shs-parent {
        background: none repeat scroll 0 0 #1430FF;
        color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003358}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul li .shs-term-selected {
        background: none repeat scroll 0 0 #AFEEEE; } }
@media all and (min-width: 650px) and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003376}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    width: 45%;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003382}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(2n - 1) {
      margin-left: 5%;
      margin-right: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003388}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .titulo-teaser {
      font-size: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003395}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .ultimos-articulos .view-content {
      float: left;
      margin-left: 0;
      margin-right: 5%;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003404}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .clase-contenido {
      color: #0000FF;
      font-size: 1.4rem;
      font-style: italic;
      margin-left: 0rem;
      padding-left: 0.2rem;
      width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003414}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .pleca-clase-contenido {
      color: #008000;
      font-size: 3rem;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      text-align: center;
      top: -4px;
      width: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003428}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul {
      font-size: 1.1rem;
      left: 0rem;
      list-style: none outside none;
      margin: 0;
      position: relative;
      text-align: center;
      top: 0.5rem;
      width: 100%;
      margin: 0;
      padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003445}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul li .shs-parent {
        background: none repeat scroll 0 0 #1430FF;
        color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003449}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul li .shs-term-selected {
        background: none repeat scroll 0 0 #AFEEEE; } }
@media all and (min-width: 961px) and (max-width: 1299px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003478}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    float: left;
    width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003484}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(3n - 1) {
      margin-right: 5%;
      margin-left: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003492}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(3n + 1) {
      clear: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003498}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .titulo-teaser {
      font-size: .9rem;
      height: 5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003506}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .fila-ultimos-articulos {
      height: 30rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003510}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .ultimos-articulos .view-content {
      float: left;
      margin-left: 0;
      margin-right: 5%;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003519}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .clase-contenido {
      color: #0000FF;
      font-size: 0.9rem;
      font-style: italic;
      margin-left: 0rem;
      padding-left: 0.2rem;
      width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003528}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .pleca-clase-contenido {
      color: #008000;
      font-size: 3rem;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      text-align: center;
      top: -4px;
      width: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003542}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul {
      font-size: 1rem;
      left: 0rem;
      list-style: none outside none;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
      top: 0.2rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003553}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy {
        font-size: 0.95rem;
        left: -3rem;
        list-style: none outside none;
        position: relative;
        text-align: center;
        top: 0.2rem;
        width: 140%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003562}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul li .shs-parent {
        background: none repeat scroll 0 0 #1430FF;
        color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003566}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul li .shs-term-selected {
        background: none repeat scroll 0 0 #AFEEEE; } }
@media all and (min-width: 1300px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003599}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    float: left;
    width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003605}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(3n - 1) {
      margin-right: 5%;
      margin-left: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003613}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(3n + 1) {
      clear: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003619}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .titulo-teaser {
      font-size: .9rem;
      height: 5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003627}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .fila-ultimos-articulos {
      height: 30rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003631}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .ultimos-articulos .view-content .fila-ultimos-articulos {
      float: left;
      margin-left: 0;
      margin-right: 5%;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003640}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .clase-contenido {
      color: #0000FF;
      font-size: 1rem;
      font-style: italic;
      margin-left: 0rem;
      padding-left: 0.5rem;
      padding-top: 1rem;
      width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003650}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .pleca-clase-contenido {
      color: #008000;
      font-size: 3rem;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      text-align: center;
      top: -4px;
      width: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003661}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul {
      font-size: 1rem;
      left: 0rem;
      list-style: none outside none;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
      top: .1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003672}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy {
        font-size: 1rem;
        left: -3rem;
        list-style: none outside none;
        margin: 0;
        position: relative;
        text-align: center;
        top: 0.5rem;
        width: 130%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003684}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul li .shs-parent {
        background: none repeat scroll 0 0 #1430FF;
        color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003688}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul li .shs-term-selected {
        background: none repeat scroll 0 0 #AFEEEE; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003712}}
.l-footer {
  display: inline-flex;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003716}}
  .l-footer .licencia {
    width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003719}}
  .l-footer .contactar {
    width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003722}}
  .l-footer .hecho-drupal {
    width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003727}}
.l-region.l-region--footer {
  display: inherit;
  text-align: center;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003738}}
.field-content.titulo-slider {
  background: none repeat scroll 0 0 rgba(16, 115, 220, 0.77);
  color: #E72D2D;
  font-family: sans-serif;
  font-size: 20px;
  padding: 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  top: 40px;
  width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003749}}
  .field-content.titulo-slider a {
    vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003753}}
.view-home-slider {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003759}}
  .view-home-slider .views-field.views-field-title {
    height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003764}}
.field-content.cuerpo-slider {
  font-size: 0.7rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003768}}
.leermas-slider {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: right;
  height: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003774}}
  .leermas-slider a {
    color: #6080D2;
    position: relative;
    text-align: left;
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003781}}
.titulo-slider > a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #000000;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003787}}
.flex-control-nav {
  position: relative;
  text-align: center;
  width: 100%;
  top: -0.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003796}}
.item-listado-viejaescuela {
  list-style: none outside none;
  padding: 0; }
