/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000327}}
.l-region--navigation {
  float: left;
  height: 1.8rem;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  top: -2rem;
  width: 100%;
  z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000337}}
  .l-region--navigation .active {
    background: none repeat scroll 0 0 #A1BEF4;
    width: 90%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000346}}
.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
  background: none repeat scroll 0 0 #FFA500;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0 8px 9px 0 !important;
  top: 1.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000357}}
.sf-menu {
  text-decoration: none;
  line-height: 1.5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000361}}
  .sf-menu .sf-depth-1 {
    text-align: center;
    text-decoration: none;
    font-family: Amaranth; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000367}}
  .sf-menu .sf-depth-2 {
    list-style: none outside none;
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000376}}
  .sf-menu a:active, .sf-menu a:hover {
    background-color: #F9947F;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 80%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000389}}
.l-header {
  position: relative;
  top: 3rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000395}}
.l-region.l-region--branding.region--debug.region--debug--branding {
  height: 8rem;
  width: 32rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003100}}
.l-branding {
  width: 60%;
  background-color: #13245;
  display: inline-flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003105}}
  .l-branding .site-logo img {
    height: auto;
    width: 6rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003109}}
  .l-branding .bloque-sitio-nombre-slogan {
    font-family: Amaranth;
    color: #000000;
    margin-left: 0rem;
    width: 30rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003115}}
    .l-branding .bloque-sitio-nombre-slogan #nombre-sitio {
      color: #000000;
      position: relative;
      text-transform: uppercase;
      font-size: 3rem;
      margin-bottom: 0;
      margin-top: 0rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003124}}
      .l-branding .bloque-sitio-nombre-slogan #nombre-sitio a {
        color: black;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003127}}
        .l-branding .bloque-sitio-nombre-slogan #nombre-sitio a:hover {
          color: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003132}}
    .l-branding .bloque-sitio-nombre-slogan #slogan {
      font-size: 1.5rem;
      margin-top: 0rem;
      position: absolute;
      text-transform: none;
      width: 30rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003144}}
.l-content {
  position: relative;
  top: 3rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003148}}
  .l-content .breadcrumb {
    display: inline-flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003150}}
    .l-content .breadcrumb li {
      display: block;
      margin: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003160}}
.l-main.l-constrained {
  position: relative;
  top: 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003166}}
.teaser-ultimos-articulos {
  vertical-align: sub;
  width: 30%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003174}}
.teaser-front {
  text-align: justify;
  height: 10rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003180}}
.titulo-teaser {
  font-size: 1rem;
  height: 6rem;
  background: url("../images/tit_teaser.svg") repeat-x scroll 0 0/contain rgba(0, 0, 0, 0);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-family: Amaranth;
  font-size: 1.05rem;
  color: #000000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003189}}
  .titulo-teaser a {
    text-decoration: none; }

@media all and (max-width: 649px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003200}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    float: left; } }
@media all and (min-width: 650px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003221}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    width: 45%;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003227}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(2n - 1) {
      margin-left: 5%;
      margin-right: 5%; } }
@media all and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003247}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    float: left;
    width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003253}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(3n - 1) {
      margin-right: 5%;
      margin-left: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003261}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(3n + 1) {
      clear: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003278}}
.l-region--footer {
  display: inline-flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003281}}
  .l-region--footer box-align:center
  .licencia-copyleft-procomun {
    right: 2rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003284}}
  .l-region--footer .contactar {
    left: 2rem;
    width: 110px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003288}}
  .l-region--footer .hecho-con-drupal {
    left: 2rem;
    position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003295}}
footer {
  position: relative;
  text-align: center;
  top: 5rem; }
