/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000327}}
.l-region--navigation {
  float: left;
  height: 1.8rem;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  top: -2rem;
  width: 100%;
  z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000337}}
  .l-region--navigation .active {
    background: none repeat scroll 0 0 #A1BEF4;
    width: 90%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000346}}
.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
  background: none repeat scroll 0 0 #FFA500;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0 8px 9px 0 !important;
  top: 1.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000357}}
.sf-menu {
  text-decoration: none;
  line-height: 1.5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000361}}
  .sf-menu .sf-depth-1 {
    text-align: center;
    text-decoration: none;
    font-family: Amaranth; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000367}}
  .sf-menu .sf-depth-2 {
    list-style: none outside none;
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000376}}
  .sf-menu a:active, .sf-menu a:hover {
    background-color: #F9947F;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 80%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000389}}
.l-header {
  position: relative;
  top: 3rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000395}}
.l-region.l-region--branding.region--debug.region--debug--branding {
  height: 8rem;
  width: 32rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003100}}
.l-branding {
  width: 60%;
  background-color: #13245;
  display: inline-flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003105}}
  .l-branding .site-logo img {
    height: auto;
    width: 6rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003109}}
  .l-branding .bloque-sitio-nombre-slogan {
    font-family: Amaranth;
    color: #000000;
    margin-left: 0rem;
    width: 30rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003115}}
    .l-branding .bloque-sitio-nombre-slogan #nombre-sitio {
      color: #000000;
      position: relative;
      text-transform: uppercase;
      font-size: 3rem;
      margin-bottom: 0;
      margin-top: 0rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003124}}
      .l-branding .bloque-sitio-nombre-slogan #nombre-sitio a {
        color: black;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003127}}
        .l-branding .bloque-sitio-nombre-slogan #nombre-sitio a:hover {
          color: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003132}}
    .l-branding .bloque-sitio-nombre-slogan #slogan {
      font-size: 1.5rem;
      margin-top: 0rem;
      position: absolute;
      text-transform: none;
      width: 30rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003144}}
.l-content {
  position: relative;
  top: 3rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003148}}
  .l-content .breadcrumb {
    display: inline-flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003150}}
    .l-content .breadcrumb li {
      display: block;
      margin: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003160}}
.grupo-clase-contenido {
  background: none repeat scroll 0 0 rgba(255, 178, 27, 0.99);
  display: inline-flex;
  font-family: Liberation Sans;
  height: 3.7rem;
  position: relative;
  top: 12px;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003170}}
  .grupo-clase-contenido .clase-contenido {
    color: #0000FF;
    font-style: italic;
    width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003176}}
  .grupo-clase-contenido .clase-contenido > p {
    margin-left: 3px;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003181}}
  .grupo-clase-contenido .pleca-clase-contenido {
    color: #367141;
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    width: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003191}}
  .grupo-clase-contenido .tema-contenido {
    color: #385240;
    width: 60%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003194}}
    .grupo-clase-contenido .tema-contenido ul {
      list-style: none;
      margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003197}}
      .grupo-clase-contenido .tema-contenido ul .shs-hierarchy {
        margin-bottom: 0;
        margin-top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003201}}
        .grupo-clase-contenido .tema-contenido ul .shs-hierarchy li .shs-parent {
          background: none repeat scroll 0 0 #1430FF;
          color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003205}}
        .grupo-clase-contenido .tema-contenido ul .shs-hierarchy li .shs-term-selected {
          background: none repeat scroll 0 0 #AFEEEE; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003221}}
.l-main.l-constrained {
  position: relative;
  top: 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003227}}
.teaser-ultimos-articulos {
  vertical-align: sub;
  width: 30%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003235}}
.teaser-front {
  text-align: justify;
  height: 10rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003241}}
.titulo-teaser {
  height: 6rem;
  background: url("../images/tit_teaser.svg") repeat-x scroll 0 0/contain rgba(0, 0, 0, 0);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-family: Amaranth;
  font-size: 1.05rem;
  color: #000000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003249}}
  .titulo-teaser a {
    text-decoration: none;
    color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003254}}
.fila-ultimos-articulos {
  height: 30rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003258}}
.field-content.imagen-front {
  border: 10rem none;
  bottom: 1rem;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
  top: 1rem; }

@media all and (max-width: 649px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003277}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003284}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .titulo-teaser {
      font-size: 1.1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003290}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .ultimos-articulos {
      float: left;
      margin-left: 0;
      margin-right: 5%;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003299}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .clase-contenido {
      color: #0000FF;
      font-size: 3rem;
      font-style: italic;
      padding-left: 1rem;
      width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003307}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .pleca-clase-contenido {
      color: #008000;
      font-size: 3rem;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      text-align: center;
      top: -4px;
      width: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003320}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul {
      font-size: 1.5rem;
      left: -3rem;
      list-style: none outside none;
      position: relative;
      text-align: center;
      margin: 3px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003327}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy {
        margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003330}}
        .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy li .shs-parent {
          background: none repeat scroll 0 0 #1430FF;
          color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003333}}
        .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy li .shs-term-selected {
          background: none repeat scroll 0 0 #AFEEEE; } }
@media all and (min-width: 650px) and (max-width: 999px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003351}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    width: 45%;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003357}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(2n - 1) {
      margin-left: 5%;
      margin-right: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003363}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .titulo-teaser {
      font-size: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003370}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .ultimos-articulos .view-content {
      float: left;
      margin-left: 0;
      margin-right: 5%;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003379}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .clase-contenido {
      color: #0000FF;
      font-size: 1.4rem;
      font-style: italic;
      margin-left: 0rem;
      padding-left: 0.2rem;
      width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003389}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .pleca-clase-contenido {
      color: #008000;
      font-size: 3rem;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      text-align: center;
      top: -4px;
      width: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003403}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul {
      font-size: 1.1rem;
      left: -3rem;
      list-style: none outside none;
      margin: 0;
      position: relative;
      text-align: center;
      top: 0.5rem;
      width: 120%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003413}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy {
        margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003416}}
        .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy li .shs-parent {
          background: none repeat scroll 0 0 #1430FF;
          color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003420}}
        .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy li .shs-term-selected {
          background: none repeat scroll 0 0 #AFEEEE; } }
@media all and (min-width: 1000px) and (max-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003449}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    float: left;
    width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003455}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(3n - 1) {
      margin-right: 5%;
      margin-left: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003463}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(3n + 1) {
      clear: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003469}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .titulo-teaser {
      font-size: .9rem;
      height: 5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003477}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .fila-ultimos-articulos {
      height: 30rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003481}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .ultimos-articulos .view-content {
      float: left;
      margin-left: 0;
      margin-right: 5%;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003490}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .clase-contenido {
      color: #0000FF;
      font-size: 1.5rem;
      font-style: italic;
      margin-left: 0rem;
      padding-left: 0.5rem;
      width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003499}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .pleca-clase-contenido {
      color: #008000;
      font-size: 3rem;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      text-align: center;
      top: -4px;
      width: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003513}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul {
      font-size: 1.2rem;
      left: -3rem;
      list-style: none outside none;
      margin: 0;
      position: relative;
      text-align: center;
      top: 0.5rem;
      width: 110%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003524}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy {
        font-size: 0.95rem;
        left: -3rem;
        list-style: none outside none;
        position: relative;
        text-align: center;
        top: 0.2rem;
        width: 140%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003533}}
        .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy li .shs-parent {
          background: none repeat scroll 0 0 #1430FF;
          color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003537}}
        .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy li .shs-term-selected {
          background: none repeat scroll 0 0 #AFEEEE; } }
@media all and (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003570}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    float: left;
    width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003576}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(3n - 1) {
      margin-right: 5%;
      margin-left: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003584}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(3n + 1) {
      clear: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003590}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .titulo-teaser {
      font-size: .9rem;
      height: 5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003598}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .fila-ultimos-articulos {
      height: 30rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003602}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .ultimos-articulos .view-content .fila-ultimos-articulos {
      float: left;
      margin-left: 0;
      margin-right: 5%;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003611}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .clase-contenido {
      color: #0000FF;
      font-size: 0.9rem;
      font-style: italic;
      margin-left: 0rem;
      padding-left: 0.5rem;
      padding-top: 1rem;
      width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003621}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido .pleca-clase-contenido {
      color: #008000;
      font-size: 3rem;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      text-align: center;
      top: -4px;
      width: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003632}}
    .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul {
      font-size: 1.1rem;
      left: -3rem;
      list-style: none outside none;
      position: relative;
      text-align: center;
      width: 130%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003640}}
      .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy {
        margin: 0;
        font-size: 1rem;
        left: -3rem;
        list-style: none outside none;
        margin: 0;
        position: relative;
        text-align: center;
        top: 0.5rem;
        width: 130%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003652}}
        .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy li .shs-parent {
          background: none repeat scroll 0 0 #1430FF;
          color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003656}}
        .ultimos-articulos .view-content .fila-ultimos-articulos .grupo-clase-contenido ul .shs-hierarchy li .shs-term-selected {
          background: none repeat scroll 0 0 #AFEEEE; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003680}}
.l-region--footer {
  display: inline-flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003683}}
  .l-region--footer box-align:center
  .licencia-copyleft-procomun {
    right: 2rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003686}}
  .l-region--footer .contactar {
    left: 2rem;
    width: 110px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003690}}
  .l-region--footer .hecho-con-drupal {
    left: 2rem;
    position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003697}}
footer {
  position: relative;
  text-align: center;
  top: 5rem; }
