/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000325}}
.l-region--navigation {
  width: 100%;
  position: absolute;
  width: 100%;
  float: left;
  margin-right: 0%;
  margin-left: 0%;
  z-index: 1;
  top: -3.0rem;
  height: 2.8rem;
  background-color: #3580CC; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000336}}
  .l-region--navigation .menu-central {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000340}}
  .l-region--navigation .sf-menu.sf-style-blue a {
    border: 1px outset #3580CC;
    color: #D3FFF4;
    padding: 0.75em 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000348}}
.l-header {
  position: relative;
  top: 3rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000354}}
.l-region.l-region--branding.region--debug.region--debug--branding {
  height: 8rem;
  width: 32rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000359}}
.l-branding {
  width: 60%;
  background-color: #13245;
  display: inline-flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000364}}
  .l-branding .site-logo img {
    height: auto;
    width: 6rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000368}}
  .l-branding .bloque-sitio-nombre-slogan {
    font-family: Amaranth;
    color: #000000;
    margin-left: 0rem;
    width: 30rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000374}}
    .l-branding .bloque-sitio-nombre-slogan #nombre-sitio {
      color: #000000;
      position: relative;
      text-transform: uppercase;
      font-size: 3rem;
      margin-bottom: 0;
      margin-top: 0rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000383}}
      .l-branding .bloque-sitio-nombre-slogan #nombre-sitio a {
        color: black;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000386}}
        .l-branding .bloque-sitio-nombre-slogan #nombre-sitio a:hover {
          color: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000391}}
    .l-branding .bloque-sitio-nombre-slogan #slogan {
      font-size: 1.5rem;
      margin-top: 0rem;
      position: absolute;
      text-transform: none;
      width: 30rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003101}}
.l-main.l-constrained {
  position: relative;
  top: 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003107}}
.teaser-ultimos-articulos {
  vertical-align: sub;
  width: 30%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003113}}
.teaser-front {
  text-align: justify; }

@media all and (max-width: 649px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003123}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    float: left; } }
@media all and (min-width: 650px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003144}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    width: 45%;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003150}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(2n - 1) {
      margin-left: 5%;
      margin-right: 5%; } }
@media all and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003170}}
  .ultimos-articulos .view-content .fila-ultimos-articulos {
    float: left;
    width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003176}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(3n - 1) {
      margin-right: 5%;
      margin-left: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003184}}
    .ultimos-articulos .view-content .fila-ultimos-articulos:nth-child(3n + 1) {
      clear: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003201}}
.l-region--footer {
  display: inline-flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003204}}
  .l-region--footer box-align:center
  .licencia-copyleft-procomun {
    right: 2rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003207}}
  .l-region--footer .contactar {
    left: 2rem;
    width: 110px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003211}}
  .l-region--footer .hecho-con-drupal {
    left: 2rem;
    position: relative; }
