@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/base\/_lists\.scss}line{font-family:\000032}}
ul li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_footer\.scss}line{font-family:\000031}}
.l-footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_header\.scss}line{font-family:\000031}}
.l-principal {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_header\.scss}line{font-family:\000034}}
.l-om-branding {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 20rem;
  margin: 2rem auto;
  top: 2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\000031}}
.l-main {
  margin-left: 0;
  margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\000034}}
  .l-main .l-nav {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\000037}}
  .l-main .l-slider {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\0000310}}
  .l-main .l-region--destacado {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\0000313}}
  .l-main .l-region--breadcrumb {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\0000316}}
  .l-main .l-content {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/layouts\/_main\.scss}line{font-family:\0000337}}
  .l-main .l-sidebar-first {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000333}}
.l-principal {
  width: 95%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: powderblue;
  position: absolute;
  vertical-align: middle;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000346}}
.l-region--navigation .active {
  background: none repeat scroll 0 0 #A1BEF4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000354}}
.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
  background: none repeat scroll 0 0 #FFA500;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0 8px 9px 0 !important;
  top: 1.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000365}}
.sf-menu {
  text-decoration: none;
  line-height: 1.5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000369}}
  .sf-menu .sf-depth-1 {
    text-align: center;
    text-decoration: none;
    font-family: Amaranth; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000375}}
  .sf-menu .sf-depth-2 {
    list-style: none outside none;
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000384}}
  .sf-menu a:active, .sf-menu a:hover {
    background-color: #F9947F;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\0000399}}
.l-region.l-region--branding {
  height: 8rem;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003104}}
.l-om-branding {
  background-color: #13245;
  margin: 2rem auto;
  top: 3rem; }
  @media (min-width: 212px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003104}}
    .l-om-branding {
      height: 6rem; } }
  @media (min-width: 440px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003104}}
    .l-om-branding {
      height: 9rem; } }
  @media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003104}}
    .l-om-branding {
      height: 14rem; } }
  @media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003104}}
    .l-om-branding {
      height: 17rem; } }
  @media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003104}}
    .l-om-branding {
      height: 18rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003124}}
  .l-om-branding .site-logo {
    height: auto;
    width: 6rem;
    max-width: 30%;
    margin: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003130}}
    .l-om-branding .site-logo img {
      max-width: 100%; }
      @media (min-width: 212px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003130}}
        .l-om-branding .site-logo img {
          height: 80px; } }
      @media (min-width: 440px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003130}}
        .l-om-branding .site-logo img {
          height: 100px; } }
      @media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003130}}
        .l-om-branding .site-logo img {
          height: 150px; } }
      @media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003130}}
        .l-om-branding .site-logo img {
          height: auto; } }
      @media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003130}}
        .l-om-branding .site-logo img {
          height: auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003150}}
  .l-om-branding .bloque-sitio-nombre-slogan {
    font-family: Amaranth;
    color: #000000;
    margin: 1rem auto;
    position: relative;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003157}}
    .l-om-branding .bloque-sitio-nombre-slogan #logo-sitename a {
      text-decoration: none;
      color: black;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003161}}
      .l-om-branding .bloque-sitio-nombre-slogan #logo-sitename a:hover {
        color: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003166}}
    .l-om-branding .bloque-sitio-nombre-slogan #nombre-sitio {
      color: #000000;
      position: relative;
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 0rem; }
      @media (min-width: 212px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003166}}
        .l-om-branding .bloque-sitio-nombre-slogan #nombre-sitio {
          font-size: 1.5rem; } }
      @media (min-width: 440px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003166}}
        .l-om-branding .bloque-sitio-nombre-slogan #nombre-sitio {
          font-size: 2rem; } }
      @media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003166}}
        .l-om-branding .bloque-sitio-nombre-slogan #nombre-sitio {
          font-size: 3rem; } }
      @media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003166}}
        .l-om-branding .bloque-sitio-nombre-slogan #nombre-sitio {
          font-size: 3rem; } }
      @media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003166}}
        .l-om-branding .bloque-sitio-nombre-slogan #nombre-sitio {
          font-size: 3rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003188}}
      .l-om-branding .bloque-sitio-nombre-slogan #nombre-sitio a {
        text-decoration: none;
        color: black;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003192}}
        .l-om-branding .bloque-sitio-nombre-slogan #nombre-sitio a:hover {
          color: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003199}}
    .l-om-branding .bloque-sitio-nombre-slogan #slogan {
      margin-top: 0rem;
      position: relative;
      text-transform: none; }
      @media (min-width: 212px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003199}}
        .l-om-branding .bloque-sitio-nombre-slogan #slogan {
          font-size: 0.8rem; } }
      @media (min-width: 440px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003199}}
        .l-om-branding .bloque-sitio-nombre-slogan #slogan {
          font-size: 1.2rem; } }
      @media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003199}}
        .l-om-branding .bloque-sitio-nombre-slogan #slogan {
          font-size: 1.5rem; } }
      @media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003199}}
        .l-om-branding .bloque-sitio-nombre-slogan #slogan {
          font-size: 1.5rem; } }
      @media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003199}}
        .l-om-branding .bloque-sitio-nombre-slogan #slogan {
          font-size: 1.5rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003220}}
      .l-om-branding .bloque-sitio-nombre-slogan #slogan a {
        text-decoration: none;
        color: black;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003224}}
        .l-om-branding .bloque-sitio-nombre-slogan #slogan a:hover {
          color: blue; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003232}}
.slider-contenedor .imagen-slider {
  z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003235}}
.slider-contenedor .slider-titulo {
  bottom: 0rem;
  height: auto;
  margin: 0;
  width: 100%; }
  @media (min-width: 212px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003235}}
    .slider-contenedor .slider-titulo {
      font-size: 0.8rem;
      position: relative;
      background: none repeat scroll 0 0 #010101; } }
  @media (min-width: 440px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003235}}
    .slider-contenedor .slider-titulo {
      font-size: 1.0rem;
      position: absolute;
      background: none repeat scroll 0 0 rgba(1, 1, 1, 0.6); } }
  @media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003235}}
    .slider-contenedor .slider-titulo {
      font-size: 1.2rem;
      position: absolute;
      background: none repeat scroll 0 0 rgba(1, 1, 1, 0.6); } }
  @media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003235}}
    .slider-contenedor .slider-titulo {
      font-size: 1.5rem;
      position: absolute;
      background: none repeat scroll 0 0 rgba(1, 1, 1, 0.6); } }
  @media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003235}}
    .slider-contenedor .slider-titulo {
      font-size: 1.5rem;
      position: absolute;
      background: none repeat scroll 0 0 rgba(1, 1, 1, 0.6); } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003268}}
  .slider-contenedor .slider-titulo a {
    background: none repeat scroll 0 0 rgba(247, 236, 236, 0);
    color: #FFFFFF;
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003276}}
.breadcrumb {
  display: inline-flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003278}}
  .breadcrumb li {
    display: block;
    margin: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003291}}
.l-footer {
  display: inline-flex;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003295}}
  .l-footer .licencia {
    width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003298}}
  .l-footer .contactar {
    width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003301}}
  .l-footer .hecho-drupal {
    width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003306}}
.l-region.l-region--footer {
  display: inherit;
  text-align: center;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003319}}
.field-content.titulo-slider {
  color: #E72D2D;
  font-family: sans-serif;
  font-size: 20px;
  padding: 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  top: 40px;
  width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003329}}
  .field-content.titulo-slider a {
    vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003333}}
.view-home-slider {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003339}}
  .view-home-slider .views-field.views-field-title {
    height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003344}}
.field-slideshow {
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003350}}
.field-content.cuerpo-slider {
  font-size: 0.7rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003354}}
.leermas-slider {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: right;
  height: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003360}}
  .leermas-slider a {
    color: #6080D2;
    position: relative;
    text-align: left;
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003367}}
.titulo-slider > a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #000000;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/default\/themes\/om_verde_chile\/sass\/om-verde-chile\.styles\.scss}line{font-family:\00003373}}
.flex-control-nav {
  position: relative;
  text-align: center;
  width: 100%;
  top: -0.5rem; }
