// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directlypx;. Variables-, function- or mixin providing partials should never
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layouts/**/*";
@import "menus/**/*"; 

//
//@include breakpoint($celular){
//body{
//background-color: $amarillo;
//}}
//se configura la zona de menú superior
//Menu Principal Superfish

.l-principal {
width: 95%;
float: right;
margin-left: 0;
margin-right: 0;
clear: none;
background-color: powderblue;
position: absolute;
vertical-align: middle;
margin: 0 auto;
}

.l-region--navigation {
    .active {
    background: none repeat scroll 0 0 #A1BEF4;
}

}

//menu desplegable

.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
    background: none repeat scroll 0 0 #FFA500;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0 8px 9px 0 !important;
    top: 1.5rem;
}



.sf-menu {
    text-decoration: none;
    line-height: 1.5rem;
    
   .sf-depth-1 {
    text-align: center;
    text-decoration: none;
    font-family: Amaranth;
}

    .sf-depth-2 {
    list-style: none outside none;
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 90%;
}

a:active,  a:hover{
	background-color: #F9947F;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
}



}

//se configura la zona de logo y marca

.l-region.l-region--branding{
    height: 8rem;
    text-align: center;
}

.l-om-branding {
   background-color: #13245;

        @include breakpoint($celular_small){
         height: 6rem;        
}
        @include breakpoint($celular){
         height: 9rem;        
}
        @include breakpoint($tablet){
         height: 14rem;        
}
        @include breakpoint($desk_normal){
         height: 17rem;        
}
        @include breakpoint($desk_wide){
         height: 18rem;        
}
    margin: 2rem auto;
    top: 3rem;
.site-logo {
    height: auto;
    width: 6rem;
    max-width: 30%;
    margin:5px;

    img {    
    @include breakpoint($celular_small){
    height: 80px;}
        @include breakpoint($celular){
    height: 100px;}
        @include breakpoint($tablet){
    height: 150px;}
        @include breakpoint($desk_normal){
    height: auto;}
        @include breakpoint($desk_wide){
    height: auto;}
    max-width: 100%;
}
}

//$celular_small:212px;
//$celular:440px;
//$tablet:600px;
//$desk_normal:900px;
//$desk_wide:1200px;
	.bloque-sitio-nombre-slogan {
        font-family: Amaranth;
    	color: #000000;
        margin: 1rem auto;
        position: relative;
        vertical-align: middle;
     #logo-sitename{
        a{
            text-decoration: none;
        color: black;  
        text-decoration: none;
        &:hover{
            color: blue;}
        }

     }   
    #nombre-sitio{
   		 color: #000000;
  		 position: relative;
 		 text-transform: uppercase;
    @include breakpoint($celular_small){
         font-size: 1.5rem;        
}
        @include breakpoint($celular){
         font-size: 2rem;        
}
        @include breakpoint($tablet){
         font-size: 3rem;        
}
        @include breakpoint($desk_normal){
         font-size: 3rem;        
}
        @include breakpoint($desk_wide){
         font-size: 3rem;        
}
 		 
         margin-bottom: 0;
		 margin-top: 0rem;
                 a{
            text-decoration: none;
        color: black;  
        text-decoration: none;
        &:hover{
            color: blue;
        }
        }

    }

    #slogan{

    @include breakpoint($celular_small){
         font-size: 0.8rem;        
}
        @include breakpoint($celular){
         font-size: 1.2rem;        
}
        @include breakpoint($tablet){
         font-size: 1.5rem;        
}
        @include breakpoint($desk_normal){
         font-size: 1.5rem;        
}
        @include breakpoint($desk_wide){
         font-size: 1.5rem;        
}        

    margin-top: 0rem;
    position: relative;
    text-transform: none;
	        a{
            text-decoration: none;
        color: black;  
        text-decoration: none;
        &:hover{
            color: blue;
        }
        }
    }
}}
//menus sobre tood
.slider-contenedor{
.imagen-slider {
    z-index: -1;
}  
.slider-titulo{
    bottom: 0rem;
    height: auto;
    margin: 0;
    width: 100%;

        @include breakpoint($celular_small){
        font-size: 0.8rem;        
        position: relative;
    background: none repeat scroll 0 0 rgba(1, 1, 1, 1);
}
        @include breakpoint($celular){
         font-size: 1.0rem;
             position: absolute;        
    background: none repeat scroll 0 0 rgba(1, 1, 1, 0.6);
}
        @include breakpoint($tablet){
         font-size: 1.2rem;     
             position: absolute;   
                 background: none repeat scroll 0 0 rgba(1, 1, 1, 0.6);
}
        @include breakpoint($desk_normal){
         font-size: 1.5rem;     
             position: absolute;   
    background: none repeat scroll 0 0 rgba(1, 1, 1, 0.6);
}

        @include breakpoint($desk_wide){
         font-size: 1.5rem;     
             position: absolute; 
                 background: none repeat scroll 0 0 rgba(1, 1, 1, 0.6);  
}

        a {
    background: none repeat scroll 0 0 rgba(247, 236, 236, 0);
    color: #FFFFFF;
    text-decoration: none;
} 
}}

//contenido


    .breadcrumb {
    display: inline-flex;
    li{
        display: block;
        margin: 10px;
    }
}
//teaser    
.grupo-clase-contenido {
    background: none repeat scroll 0 0 rgba(255, 178, 27, 0.99);
    display: inline-flex;
    font-family: Liberation Sans;
    height: 3.7rem;
    position: relative;
    top: 12px;
    width: 100%;
	border-radius: 5px;
	
.clase-contenido {
    color: #0000FF;
    font-style: italic;
	width: 30%;
}

.clase-contenido > p {
    margin-left: 3px;
    width: 100%;
}

.pleca-clase-contenido {
    color: #367141;
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    width: 10%;
}


.tema-contenido {
    color: #385240;
    width: 60%;
 ul{    
    list-style:none; 
    margin: 0;  
.shs-hierarchy {
    margin-bottom: 0;
    margin-top: 0;}  
    
}
    
}

}


.shs-parent {
    background: none repeat scroll 0 0 #1430FF;
    color: #FFFFFF;
}
.shs-term-selected {
    background: none repeat scroll 0 0 #AFEEEE;
}


//posicion main content: 
.l-main.l-constrained {
    position: relative;
    top: 1rem;
}

//se fija el teaser ajustado arriba
.teaser-ultimos-articulos {
    vertical-align: sub;
    width: 30%;//100/n 
    float:left;
}


//texto de teaser justificado
    .teaser-front {
    text-align: justify;
    height: 10rem;

}

.titulo-teaser {
    height: 5rem;
     border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: Amaranth;
    font-size: 1.05rem;
    a{
    text-transform: uppercase;    
    text-decoration:none;
  color: #1B6F39;
}}

.fila-ultimos-articulos {

    @include breakpoint($celular_small){
         font-size: 43rem;        
}
        @include breakpoint($celular){
         font-size: 33rem;        
}
        @include breakpoint($tablet){
         font-size: 32rem;        
}
        @include breakpoint($desk_normal){
         font-size: 35rem;        
}
        @include breakpoint($desk_wide){
         font-size: 32rem;        
}  

}

.field-content.imagen-front {
    border: 10rem none;
    bottom: 1rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
    top: 1rem;
}




///responsivo
@media all and (max-width: 649px) {

  .ultimos-articulos {

    .view-content {

      .fila-ultimos-articulos{

        width:100%;
          margin-left:5%;
          margin-right:5%;
        float:left;
        
        .titulo-teaser {
		font-size: 1.1rem;
		}
		
///css para clasificacion
		
.ultimos-articulos{
    float: left;
    margin-left: 0;
    margin-right: 5%;
    width: 100%;
}

.grupo-clase-contenido {

.clase-contenido {
    color: #0000FF;
    font-size: 3rem;
    font-style: italic;
    padding-left: 1rem;
    width: 30%;
}

 .pleca-clase-contenido {
    color: #008000;
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    top: -4px;
    width: 10%;
}



ul {
    font-size: 1.5rem;
    left: 0rem;
    list-style: none outside none;
    position: relative;
    text-align: center;
    margin: 3px 0 0;    
    padding:0;

.shs-hierarchy {
}
li{    
.shs-parent {
    background: none repeat scroll 0 0 #1430FF;
    color: #FFFFFF;}
.shs-term-selected {
    background: none repeat scroll 0 0 #AFEEEE;
}}}}

      }

    }

  }

}

@media all and (min-width: 650px) and (max-width: 960px) {

  .ultimos-articulos{

    .view-content {

      .fila-ultimos-articulos {

        width:45%;

        float:left;

        &:nth-child(2n - 1) {
          margin-left:5%;
          margin-right:5%;

        }
        
        .titulo-teaser {
		font-size: 1rem;
        text-transform: uppercase;
		}
		
		///css para clasificacion
		
.ultimos-articulos .view-content{
    float: left;
    margin-left: 0;
    margin-right: 5%;
    width: 100%;
}

.grupo-clase-contenido{

 .clase-contenido {
    color: #0000FF;
    font-size: 1.4rem;
    font-style: italic;
    margin-left: 0rem;
    padding-left: 0.2rem;
    width: 30%;
    
}

.pleca-clase-contenido {
    color: #008000;
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    top: -4px;
    width: 10%;
}




ul {
    font-size: 1.1rem;
    left: 0rem;
    list-style: none outside none;
    margin: 0;
    position: relative;
    text-align: center;
    top: 0.5rem;
    width: 100%;
    margin: 0;
    padding:0;
    
    .shs-hierarchy {
}
    
    
li{    
    .shs-parent {
    background: none repeat scroll 0 0 #1430FF;
    color: #FFFFFF;
}
.shs-term-selected {
    background: none repeat scroll 0 0 #AFEEEE;
}  }



	

}

}

//end css clasificacion

      }

    }

  }

}

@media all and (min-width: 961px) and (max-width: 1299px) {


  .ultimos-articulos {

    .view-content {

      .fila-ultimos-articulos {

        float:left;

        width:30%;

        &:nth-child(3n - 1) {

          margin-right:5%;

          margin-left:5%;

        }

        &:nth-child(3n + 1) {

          clear:left;

        }
        
        .titulo-teaser {
    font-size: .9rem;
    		height: 5rem;
    }
    
    
    
    		///css para clasificacion
//.fila-ultimos-articulos {
 //   height: 30rem;
//}
		
.ultimos-articulos .view-content{
    float: left;
    margin-left: 0;
    margin-right: 5%;
    width: 100%;
}

.grupo-clase-contenido{

 .clase-contenido {
    color: #0000FF;
    font-size: 0.9rem;
    font-style: italic;
    margin-left: 0rem;
    padding-left: 0.2rem;
    width: 30%;
}

.pleca-clase-contenido {
    color: #008000;
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    top: -4px;
    width: 10%;
}




ul {
   
    font-size: 1rem;
    left: 0rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    top: 0.2rem;
    
    .shs-hierarchy {
    font-size: 0.95rem;
    left: -3rem;
    list-style: none outside none;
    position: relative;
    text-align: center;
    top: 0.2rem;
    width: 140%;}
li{    
    .shs-parent {
    background: none repeat scroll 0 0 #1430FF;
    color: #FFFFFF;
}
.shs-term-selected {
    background: none repeat scroll 0 0 #AFEEEE;
}  }




}

	}


//end css clasificacion




      }

    }

  }

}


@media all and (min-width: 1300px){


  .ultimos-articulos {

    .view-content {

      .fila-ultimos-articulos {

        float:left;

        width:30%;

        &:nth-child(3n - 1) {

          margin-right:5%;

          margin-left:5%;

        }

        &:nth-child(3n + 1) {

          clear:left;

        }
        
        .titulo-teaser {
    font-size: .9rem;
    		height: 5rem;
    }
    
    
    
    		///css para clasificacion
//.fila-ultimos-articulos {
 //   height: 30rem;
//}
		
.ultimos-articulos .view-content .fila-ultimos-articulos {
    float: left;
    margin-left: 0;
    margin-right: 5%;
    width: 100%;
}

.grupo-clase-contenido{

 .clase-contenido {
    color: #0000FF;
    font-size: 1rem;
    font-style: italic;
    margin-left: 0rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
    width: 30%;
}

.pleca-clase-contenido {
    color: #008000;
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    top: -4px;
    width: 10%;
}

ul {
    font-size: 1rem;
    left: 0rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    top:.1rem;
    
        
    .shs-hierarchy {

    font-size: 1rem;
    left: -3rem;
    list-style: none outside none;
    margin: 0;
    position: relative;
    text-align: center;
    top: 0.5rem;
    width: 130%;}
    
li{    
    .shs-parent {
    background: none repeat scroll 0 0 #1430FF;
    color: #FFFFFF;
}
.shs-term-selected {
    background: none repeat scroll 0 0 #AFEEEE;
}  }


    

		

}}
//end css clasificacion


      }

    }

  }

}

//CSS Footer


.l-footer {
    display: inline-flex;
    width:100%;
    
    .licencia{
    width: 50%;
    }
    .contactar {
    width: 25%;
   }    
    .hecho-drupal {
    width: 25%;
    }
}

.l-region.l-region--footer {
    display: inherit;
    text-align: center;
      width: 100%;
}

   
//añadir secciones de grilla


//flexslider
.field-content.titulo-slider {
    color: #E72D2D;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: 40px;
    width: 50%;
    a{
    vertical-align: middle;}
}

.view-home-slider {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -2;
    .views-field.views-field-title {
    height: 0;
}
}

.field-slideshow {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
}

.field-content.cuerpo-slider {
    font-size: 0.7rem;
}

.leermas-slider {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: right;
	height: 0;
 a {
    color: #6080D2;
    position: relative;
    text-align: left;
    text-decoration: none;
}}

.titulo-slider > a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    text-decoration: none;
}

.flex-control-nav {
    position: relative;
    text-align: center;
    width: 100%;
    top: -0.5rem;
}


//resumen old cluch bloque
.item-listado-viejaescuela {
    list-style: none outside none;
    padding: 0;
}
