// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

//se configura la zona de menú superior
//Menu Principal Superfish

.l-region--navigation {
    background-color: #B3E7FF;
    float: left;
    height: 1.8rem;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    top: -2rem;
    width: 100%;
    z-index: 1;

    .active {
    background: none repeat scroll 0 0 #FFA500;
}

}

//menu desplegable

.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
    background: none repeat scroll 0 0 #FFA500;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 8px 9px 0 !important;
    top: 1.5rem;
}



.sf-menu {
    text-decoration: none;
    line-height: 1.5rem;
    
   .sf-depth-1 {
    text-align: center;
}

    .sf-depth-2 {
    list-style: none outside none;
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

a:active,  a:hover{
	background-color: orange;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}



}

.l-header{
	position: relative;
	top: 3rem;
}
//se configura la zona de logo y marca

.l-region.l-region--branding.region--debug.region--debug--branding {
    height: 8rem;
    width: 32rem;
}

.l-branding {
   width: 60%;
   background-color: #13245;
   display: inline-flex;
   
.site-logo img {
    height: auto;
    width: 6rem;
}
	.bloque-sitio-nombre-slogan {
        font-family: Amaranth;
    	color: #000000;
  		margin-left: 0rem;
    	width: 30rem;

    #nombre-sitio{
   		 color: #000000;
  		 position: relative;
 		 text-transform: uppercase;
 		 font-size: 3rem;
 		 
 		 margin-bottom: 0;
		 margin-top: 0rem;
 		 
 		 a{
    	 color: black;	
    	text-decoration: none;
   		&:hover{
    		color: blue;
    	}}
    }

    #slogan{
    font-size: 1.5rem;
    margin-top: 0rem;
    position: absolute;
    text-transform: none;
    width: 30rem;
	}
}}

//posicion main content: 
.l-main.l-constrained {
    position: relative;
    top: 1rem;
}

//se fija el teaser ajustado arriba
.teaser-ultimos-articulos {
    vertical-align: sub;
    width: 30%;//100/n 
    float:left;
}
//texto de teaser justificado
    .teaser-front {
    text-align: justify;
}

@media all and (max-width: 649px) {

  .ultimos-articulos {

    .view-content {

      .fila-ultimos-articulos{

        width:100%;
          margin-left:5%;
          margin-right:5%;
        float:left;

      }

    }

  }

}

@media all and (min-width: 650px) and (max-width: 959px) {

  .ultimos-articulos{

    .view-content {

      .fila-ultimos-articulos {

        width:45%;

        float:left;

        &:nth-child(2n - 1) {
          margin-left:5%;
          margin-right:5%;

        }

      }

    }

  }

}

@media all and (min-width: 960px) {

  .ultimos-articulos {

    .view-content {

      .fila-ultimos-articulos {

        float:left;

        width:30%;

        &:nth-child(3n - 1) {

          margin-right:5%;

          margin-left:5%;

        }

        &:nth-child(3n + 1) {

          clear:left;

        }

      }

    }

  }

}

//CSS Footer


.l-region--footer {
    display: inline-flex;
    box-align:center
    .licencia-copyleft-procomun{
    right: 2rem;
    }
    .contactar {
    left: 2rem;
    width: 110px;
    }    
    .hecho-con-drupal {
    left: 2rem;
    position: relative;
    }
}

