// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directlypx;. Variables-, function- or mixin providing partials should never
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layouts/**/*";
@import "menus/**/*"; 
@import "hover/**/*"; 

html{
    font-family: sans-serif;
    margin: 0 auto;
    width: 80%;
}

//
//@include breakpoint($celular){
//body{
//background-color: $amarillo;
//}}
//se configura la zona de menú superior
//Menu Principal Superfish

.l-principal {
width: 95%;
float: right;
margin-left: 0;
margin-right: 0;
clear: none;
background-color: powderblue;
position: absolute;
vertical-align: middle;
margin: 0 auto;
}

.l-region--navigation {
    .active {
    background: none repeat scroll 0 0 #A1BEF4;
}

}

//menu desplegable

.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
    background: none repeat scroll 0 0 #FFA500;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0 8px 9px 0 !important;
    top: 1.5rem;
}



.sf-menu {
    text-decoration: none;
    line-height: 1.5rem;
    
   .sf-depth-1 {
    text-align: center;
    text-decoration: none;
    font-family: Amaranth;
}

    .sf-depth-2 {
    list-style: none outside none;
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 90%;
}

a:active,  a:hover{
	background-color: #F9947F;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
}



}

//se configura la zona de logo y marca

.l-region.l-region--branding{
    text-align: center;
}

.l-om-branding {
   background-color: #13245;

    margin: 0rem auto;
.site-logo {
    height: auto;
    width: 6rem;
    max-width: 30%;
    margin:5px;
    img {    
    max-width: 100%;
    }
}

//$celular_small:212px;
//$celular:440px;
//$tablet:600px;
//$desk_normal:900px;
//$desk_wide:1200px;
	.bloque-sitio-nombre-slogan {
        font-family: Amaranth;
    	color: #000000;
        margin: 0rem auto;
        position: relative;
        vertical-align: middle;
     #logo-sitename{
        a{
            text-decoration: none;
        color: black;  
        text-decoration: none;
        &:hover{
            color: blue;}
        }

     }   
    #nombre-sitio{
   		 color: #000000;
  		 position: relative;
 		 text-transform: uppercase;
    @include breakpoint($celular_small){
         font-size: 1.5rem;        
}
        @include breakpoint($celular){
         font-size: 2rem;        
}
        @include breakpoint($tablet){
         font-size: 3rem;        
}
        @include breakpoint($desk_normal){
         font-size: 3rem;        
}
        @include breakpoint($desk_wide){
         font-size: 3rem;        
}
 		 
         margin-bottom: 0;
		 margin-top: 0rem;
                 a{
            text-decoration: none;
        color: black;  
        text-decoration: none;
        &:hover{
            color: blue;
        }
        }

    }

    #slogan{

    @include breakpoint($celular_small){
         font-size: 0.8rem;        
}
        @include breakpoint($celular){
         font-size: 1.2rem;        
}
        @include breakpoint($tablet){
         font-size: 1.5rem;        
}
        @include breakpoint($desk_normal){
         font-size: 1.5rem;        
}
        @include breakpoint($desk_wide){
         font-size: 1.5rem;        
}        

    margin-top: 0rem;
    position: relative;
    text-transform: none;
	        a{
            text-decoration: none;
        color: black;  
        text-decoration: none;
        &:hover{
            color: blue;
        }
        }
    }
}}
//menus sobre tood
.l-om-slider{
.flexslider{
	height: 16rem;	


.slider-contenedor{
.imagen-slider {
}  
.slider-titulo{
position: absolute;
display: none;
bottom:0;
z-index: 1;}
&:hover .slider-titulo{
	display:block;	
}


}}}


//contenido
    .breadcrumb {
    display: inline-flex;
    li{
        display: block;
        margin: 10px;
    }
}
//teaser    




//CSS Footer
  
    .licencia{
    width: 50%;
    }
    .contactar {
    width: 25%;
   }    
    .hecho-drupal {
    width: 25%;
    }

//flexslider

//añadir secciones de grilla

//flexslider
.field-content.titulo-slider {
    color: #E72D2D;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;
    a{
    vertical-align: middle;}
}

.view-home-slider {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -2;
    .views-field.views-field-title {
    height: 0;
}
}

.field-slideshow {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
}

.field-content.cuerpo-slider {
    font-size: 0.7rem;
}

.leermas-slider {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: right;
    height: 0;
 a {
    color: #6080D2;
    position: relative;
    text-align: left;
    text-decoration: none;
}}

.titulo-slider > a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    text-decoration: none;
}

.flex-control-nav {
    position: relative;
    text-align: center;
    width: 100%;
    top: -0.5rem;
}

.l-om-content {
clear: none;
padding: 2px;
position: relative;
}

#bienvenido{
    display: none;
}

.teaser-cl{
float: left;
margin-top: 15px;
margin-bottom: 15px;
    @include breakpoint($celular_small){
width: 100%;   
padding: 0;  
height: 28rem; 
}
        @include breakpoint($celular){
width: 100%; 
padding: 5px;   
height: 30rem;   
}
        @include breakpoint($tablet){
width: 50%; 
padding: 10px;    
height: 28rem;
}
        @include breakpoint($desk_normal){
width: 33%;
padding: 10px;
height: 30rem;       
}

        @include breakpoint($desk_normal_mid){
width: 33%;
padding: 10px;
height: 28rem;       
}
        @include breakpoint($desk_wide){
width: 33%;
padding: 10px;      
height: 30rem;
}
.titulo-teaser{
	text-transform: none;
	text-align: justify;
    @include breakpoint($celular_small){
         font-size: 1rem;  
         height: 7rem;        
}
        @include breakpoint($celular){
         font-size: 1.2rem;
                  height: 4rem;        
}
        @include breakpoint($tablet){
         font-size: .7rem;        
         height: 3.5rem;
}

        @include breakpoint($desk_normal){
         font-size: .8rem;
         height: 5.5rem;        
}
        @include breakpoint($desk_wide){
         font-size: 1.2rem;
        height: 6rem;        
}
    font-family: ubuntu;
	a{
		text-decoration: none;
	}
}	
.grupo-clase-contenido {
    display: inline-flex;
    margin: 0 auto;
    padding: 0.1rem;
    height: 5rem;


.clase-contenido {
    display: table-cell;
//

   @include breakpoint($celular_small){
            font-size: 1.2rem; }
        @include breakpoint($celular){
             font-size: 2rem;}
        @include breakpoint($tablet){
         font-size: 1rem;}

        @include breakpoint($desk_normal){
         font-size: 0.8rem; }
        @include breakpoint($desk_wide){
         font-size: 1.2rem;}
//    position: relative;
    vertical-align: middle;
}
.pleca-clase-contenido {
    display: table-cell;
    margin: 1%;
    padding: 1%;
    position: relative;
    vertical-align: middle;

       @include breakpoint($celular_small){
            font-size: 1.2rem; }
        @include breakpoint($celular){
             font-size: 4rem;}
        @include breakpoint($tablet){
         font-size: 3rem;}

        @include breakpoint($desk_normal){
         font-size: 3rem; }
        @include breakpoint($desk_wide){
         font-size: 3rem;}
}
.tema-contenido {
    display: table-cell;
    vertical-align: middle;
    width: 60%;
    ul li {
   @include breakpoint($celular_small){
            font-size: 0.8rem; }
        @include breakpoint($celular){
             font-size: 1rem;}
        @include breakpoint($tablet){
         font-size: 0.6rem;}

        @include breakpoint($desk_normal){
         font-size: 0.6rem; }
        @include breakpoint($desk_wide){
         font-size: 1rem;}
    list-style: none outside none;
    position: relative;
    width: 100%;
    padding:.1rem;
    left: -2rem;
}
.shs-hierarchy {
position: relative;
}
}
}
.imagen-teaser{
    text-align: center;
    img{
        height: auto;
        width: 100%
    }
}
.summary-teaser {
font-size: 0.8rem;	
text-align: justify;
}
}//cierre teaser
//Detalles layout

.l-om--region-footer{
margin: 0 auto;
width: 95%;
position: relative;
}