// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directlypx;. Variables-, function- or mixin providing partials should never
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layouts/**/*";
@import "menus/**/*"; 

html{
    font-family: sans-serif;
    margin: 0 auto;
    width: 80%;
}

//
//@include breakpoint($celular){
//body{
//background-color: $amarillo;
//}}
//se configura la zona de menú superior
//Menu Principal Superfish

.l-principal {
width: 95%;
float: right;
margin-left: 0;
margin-right: 0;
clear: none;
background-color: powderblue;
position: absolute;
vertical-align: middle;
margin: 0 auto;
}

.l-region--navigation {
    .active {
    background: none repeat scroll 0 0 #A1BEF4;
}

}

//menu desplegable

.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
    background: none repeat scroll 0 0 #FFA500;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0 8px 9px 0 !important;
    top: 1.5rem;
}



.sf-menu {
    text-decoration: none;
    line-height: 1.5rem;
    
   .sf-depth-1 {
    text-align: center;
    text-decoration: none;
    font-family: Amaranth;
}

    .sf-depth-2 {
    list-style: none outside none;
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 90%;
}

a:active,  a:hover{
	background-color: #F9947F;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
}



}

//se configura la zona de logo y marca

.l-region.l-region--branding{
    text-align: center;
}

.l-om-branding {
   background-color: #13245;

    margin: 0rem auto;
.site-logo {
    height: auto;
    width: 6rem;
    max-width: 30%;
    margin:5px;
    img {    
    max-width: 100%;
    }
}

//$celular_small:212px;
//$celular:440px;
//$tablet:600px;
//$desk_normal:900px;
//$desk_wide:1200px;
	.bloque-sitio-nombre-slogan {
        font-family: Amaranth;
    	color: #000000;
        margin: 0rem auto;
        position: relative;
        vertical-align: middle;
     #logo-sitename{
        a{
            text-decoration: none;
        color: black;  
        text-decoration: none;
        &:hover{
            color: blue;}
        }

     }   
    #nombre-sitio{
   		 color: #000000;
  		 position: relative;
 		 text-transform: uppercase;
    @include breakpoint($celular_small){
         font-size: 1.5rem;        
}
        @include breakpoint($celular){
         font-size: 2rem;        
}
        @include breakpoint($tablet){
         font-size: 3rem;        
}
        @include breakpoint($desk_normal){
         font-size: 3rem;        
}
        @include breakpoint($desk_wide){
         font-size: 3rem;        
}
 		 
         margin-bottom: 0;
		 margin-top: 0rem;
                 a{
            text-decoration: none;
        color: black;  
        text-decoration: none;
        &:hover{
            color: blue;
        }
        }

    }

    #slogan{

    @include breakpoint($celular_small){
         font-size: 0.8rem;        
}
        @include breakpoint($celular){
         font-size: 1.2rem;        
}
        @include breakpoint($tablet){
         font-size: 1.5rem;        
}
        @include breakpoint($desk_normal){
         font-size: 1.5rem;        
}
        @include breakpoint($desk_wide){
         font-size: 1.5rem;        
}        

    margin-top: 0rem;
    position: relative;
    text-transform: none;
	        a{
            text-decoration: none;
        color: black;  
        text-decoration: none;
        &:hover{
            color: blue;
        }
        }
    }
}}
//menus sobre tood
.slider-contenedor{
.imagen-slider {
    z-index: -1;
}  
.slider-titulo{
    bottom: 0rem;
    height: auto;
    margin: 0;
    width: 100%;

        @include breakpoint($celular_small){
        font-size: 0.8rem;        
        position: relative;
    background: none repeat scroll 0 0 rgba(1, 1, 1, 1);
}
        @include breakpoint($celular){
         font-size: 1.0rem;
             position: absolute;        
    background: none repeat scroll 0 0 rgba(1, 1, 1, 0.6);
}
        @include breakpoint($tablet){
         font-size: 1.2rem;     
             position: absolute;   
                 background: none repeat scroll 0 0 rgba(1, 1, 1, 0.6);
}
        @include breakpoint($desk_normal){
         font-size: 1.5rem;     
             position: absolute;   
    background: none repeat scroll 0 0 rgba(1, 1, 1, 0.6);
}

        @include breakpoint($desk_wide){
         font-size: 1.5rem;     
             position: absolute; 
                 background: none repeat scroll 0 0 rgba(1, 1, 1, 0.6);  
}

        a {
    background: none repeat scroll 0 0 rgba(247, 236, 236, 0);
    color: #FFFFFF;
    text-decoration: none;
} 
}}

//contenido
    .breadcrumb {
    display: inline-flex;
    li{
        display: block;
        margin: 10px;
    }
}
//teaser    




//CSS Footer


.l-footer {
    display: inline-flex;
    width:100%;
    
    .licencia{
    width: 50%;
    }
    .contactar {
    width: 25%;
   }    
    .hecho-drupal {
    width: 25%;
    }
}

.l-region.l-region--footer {
    display: inherit;
    text-align: center;
      width: 100%;
}


//flexslider

//añadir secciones de grilla


//flexslider
.field-content.titulo-slider {
    color: #E72D2D;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: 40px;
    width: 50%;
    a{
    vertical-align: middle;}
}

.view-home-slider {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -2;
    .views-field.views-field-title {
    height: 0;
}
}

.field-slideshow {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
}

.field-content.cuerpo-slider {
    font-size: 0.7rem;
}

.leermas-slider {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: right;
    height: 0;
 a {
    color: #6080D2;
    position: relative;
    text-align: left;
    text-decoration: none;
}}

.titulo-slider > a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    text-decoration: none;
}

.flex-control-nav {
    position: relative;
    text-align: center;
    width: 100%;
    top: -0.5rem;
}
