// Import the legacy variables (relevant for controlling compass-normalize).
@import "variables/**/*";

// Generate normalize.css.
@import "normalize";

// Use 'border-box' for the box model.
@import "toolkit/border-box";

//importamos las fuentes
@import url('http://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('http://fonts.googleapis.com/css?family=Amaranth');
@import url('http://fonts.googleapis.com/css?family=Expletus+Sans');
@import url('http://fonts.googleapis.com/css?family=Gentium+Book+Basic');
@import url('http://fonts.googleapis.com/css?family=Sansita+One');

