//footer

.l-om--region-footer{
margin: 0 auto;
width: 95%;
position: relative;
@include grid-span(12,1);
}
.l-om-region-prefooter{
    position: relative;
     @include breakpoint($celular_small){
        top: 3rem;
}
        @include breakpoint($celular){
    top: 3rem;
}
        @include breakpoint($tablet){
          top: 2.5rem;
}
        @include breakpoint($desk_normal){
          top: 3.5rem; 

}
        @include breakpoint($desk_wide){
top:6rem;
} 
    width: 95%;	
 @include grid-span(12,1);
}
.l-om-prefooter1{
    @include grid-span(4,1); 
}

.l-om-prefooter2{
    @include grid-span(4,5); 
}

.l-om-prefooter3{
    @include grid-span(4,9); 
}

.l-om-footer{ @include grid-span(12,1); 
    position: relative;
     width: 95%;
     @include breakpoint($celular_small){
        top: 3rem;
}
        @include breakpoint($celular){
    top: 3rem;
}
        @include breakpoint($tablet){
          top: 2.5rem;
}
        @include breakpoint($desk_normal){
          top: 3.5rem; 

}
        @include breakpoint($desk_wide){
top:6rem;
} 
}  