//.l-om-main{
 //   @include grid-span(12,1); 
//}
.l-om-slider{
    @include grid-span(12,1); 
}
.l-om-nav{
    @include grid-span(12,1);    
}
.l-om-region--breadcrumb{
    @include grid-span(12,1);  
}
.l-om-region--destacado{
    @include grid-span(12,1);  
}

//region central que tiene content y barras laterales
//.l-om--region-central{
//   @include grid-span(12,1);  
//}
.l-om--region-content{
     @include grid-span(12,1);
     //cambia la distancia entre slider y main
     @include breakpoint($celular_small){
        top: 3rem;
}
        @include breakpoint($celular){
    top: 3rem;
}
        @include breakpoint($tablet){
          top: 2.5rem;
}
        @include breakpoint($desk_normal){
          top: 3.5rem; 

}
        @include breakpoint($desk_wide){
top:6rem;
} 
}
.l-om-content{
	//@include grid-span(8,1); 
     @include breakpoint($celular_small){
    @include grid-span(12,1);
}
        @include breakpoint($celular){
    @include grid-span(12,1);
}
        @include breakpoint($tablet){
    @include grid-span(8,1); 
}
        @include breakpoint($desk_normal){
    @include grid-span(8,1); 
}
        @include breakpoint($desk_wide){
    @include grid-span(8,1); 
}
}
//barra lateral
.l-om--region-sidebar{
 // @include grid-span(4,9); 
@include breakpoint($celular_small){
    @include grid-span(12,1);
}
        @include breakpoint($celular){
    @include grid-span(12,1);
}
        @include breakpoint($tablet){
  @include grid-span(4,9); 
}
        @include breakpoint($desk_normal){
  @include grid-span(4,9); 
}
        @include breakpoint($desk_wide){
  @include grid-span(4,9);  
}
}
.l-om-sidebar-media{
    @include grid-span(12,1); 
}
.l-om-sub-lateral{
      @include grid-span(12,1);   
}
.l-om-sidebar-left{
    @include grid-span(6,1); 
}
.l-om-sidebar-right{
    @include grid-span(6,7); 
}