//.l-om-main{
 //   @include grid-span(12,1); 
//}
.l-om-slider{
    @include grid-span(12,1); 
}
.l-om-nav{
    @include grid-span(12,1);    
}
.l-om-region--breadcrumb{
    @include grid-span(12,1);  
}
.l-om-region--destacado{
    @include grid-span(12,1);  
}

//region central que tiene content y barras laterales
//.l-om--region-central{
//   @include grid-span(12,1);  
//}
.l-om--region-content{
     @include grid-span(12,1); 
}
.l-om-content{
	@include grid-span(8,1); 
}
//barra lateral
.l-om--region-sidebar{
  @include grid-span(4,9); 
}
.l-om-sidebar-media{
    @include grid-span(12,1); 
}
.l-om-sub-lateral{
      @include grid-span(12,1);   
}
.l-om-sidebar-left{
    @include grid-span(6,1); 
}
.l-om-sidebar-right{
    @include grid-span(6,7); 
}